@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to my restaurant managment web application.</p><br />
<p>
    This app has two primary use cases.
    <ul>
        <li>
            Allow for an owner/administrator to easily
            perform CRUD operations related to restaurant operations.
        </li>
        <li>
            Allow consumers to create an account
            and place orders at the respective restaurants in the restaurant group.
        </li>
    </ul>
</p>
