@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Me:</strong> <a asp-controller="Home" asp-action="Contact">chin.matthew1212@gmail.com</a><br />
</address>
