@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<a href="https://github.com/mjc714/RestaurantWebApp">View the complete source.</a><br />

<address>
    <strong>Me:</strong> <a href="mailto:Support@example.com">chin.matthew1212@gmail.com</a><br />
</address>
